<div class="receita item-lista-receita">

    <div class="imagem-receita">
        <img src="https://via.placeholder.com/1280x720.png" alt="">
    </div>

    <div class="container-titulo-receita">
        <h2 class="titulo-receita">Lorem ipsum dolor sit amet</h2>
    </div>

    <div class="autor-receita">
        <span class="item-autor-receita">
            <i class="fa-solid fa-user"></i>
            Lorem Ipsum
        </span>
        <span class="item-autor-receita">
            <i class="fa-solid fa-calendar-check"></i>
            31/02/3000 às 22:22
        </span>
        <span class="item-autor-receita">
            <a href="">
                <i class="fa-solid fa-layer-group"></i>
                <span>Café da Manhã</span>
            </a>
        </span>
    </div>

    <div class="conteudo-receita">
        <p>
            I'm baby air plant mumblecore paleo cardigan single-origin coffee, kale chips chillwave selfies
            narwhal seitan marfa brooklyn kickstarter. Kitsch truffaut offal, chillwave shoreditch jianbing
            chartreuse food truck air plant gentrify keffiyeh pickled vinyl. Retro raclette readymade
            mustache mlkshk, jianbing tbh. Cornhole raw denim edison bulb, franzen PBR&B man bun shaman
            tacos dreamcatcher keytar cliche. Selfies meditation small batch taiyaki echo park, franzen
            helvetica health goth.
        </p>
    </div>

    <div class="meta-container-receita">

        <div class="meta-receita preparacao-receita">
            <h3 class="meta-titulo-receita"><i class="fa-solid fa-stopwatch"></i>Preparo</h3>
            <div class="meta-texto-receita">20 Minutos</div>
        </div>

        <div class="meta-receita porcoes-receita">
            <h3 class="meta-titulo-receita"><i class="fa-solid fa-bread-slice"></i>Porções</h3>
            <div class="meta-texto-receita">7 Porções</div>
        </div>

    </div>

    <footer class="rodape-receita">
        <a href="receitas/1" class="leia-mais-receita bt bt-dark bt-largura-total">
            <i class="fa-solid fa-eye"></i>
            <span>Ver Mais ...</span>
        </a>
    </footer>

</div>